/**
 * Muestra una cantidad monetaria
 * @type {String}
 */
.money (@money: '€', @wrapBegin: '', @wrapEnd: '') {
    &:before {
        content: @wrapBegin;
    }
    &:after {
        content: " @{money}@{wrapEnd}";
    }
}

/**
 * Aspecto de los elementos input
 */
.input () {
    font-size: 1.25em;
    padding: 0.3em 1%;
    margin-top: 1em;
    outline: none;
    border: solid @cantExpressMyself thin;
    
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 0 0.5em #ccc;
}

/**
 * Aplica la misma clase usada en jQueryUI
 */
.fixSearchForm {
    background: #eaf6c3 url(alibeltpv-theme/images/ui-bg_diagonals-small_100_eaf6c3_40x40.png)
        50% 50% repeat;
    color: #1C140D;
    text-align: center;
    position: fixed;
    z-index: 100;
    width: 90%;
    left: 4%;

    box-shadow: 0 1em 1em #eaf6c3;
}