/**
 * Paleta de colores: http://www.colourlovers.com/palette/359978/w_o_r_d_l_e_s_s_.
 */

@white: #FFFFFF;
@specialTshirt: #CBE86B;
@writeIt: #F2E9E1;
@cantExpressMyself: #1C140D;
@specialTshirt2: #CBE86B;

@consoleFont: Consolas, Inconsolata, Monospace;

body {
    font-family: Droid Sans, Ubuntu, Tahoma, Verdana;
}

blockquote {
    font-family: @consoleFont;
    padding-right: 3em;
    text-align: justify;
}

html {
    background: lighten(@specialTshirt2, 20%);
    text-align: center;
    margin: 0 auto;
    padding: 0;
    padding-top: 2em;
    height: 100%;
    /*overflow: hidden;*/
}

body {
    height: 100%;
}

body > section {
    display: block;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    text-align: left;

    position: absolute;
    left: -99999em;

    &.current {
        position: relative;
        left: 0;
    }
}

/*******************************************************************************
 * Barra superior
 ******************************************************************************/

#topBar {
    background-color: @cantExpressMyself;
    font-weight: bold;
    
    width: 100%;
    position: absolute;
    top: 0;
    text-align: left;
    z-index: 100;

    > h1 {
    	display: none;
    }

    > #mainMenu > ul {
    	padding: 0;
    	margin: 0 auto;
    	margin-left: 0.25em;
        font-size: 1.2em;

    	> li {
    		display: inline-block;
    		color: @cantExpressMyself;
    		background-color: darken(@writeIt, 20%);
            cursor: pointer;

			margin-top: 0.25em;
    		padding: 0.25em;
    		padding-right: 0.5em;
    		border-radius: 0.25em 0.25em 0 0;
    		border-bottom: solid @cantExpressMyself thin;

			&.current {
				border-bottom: none;
				position: relative;
				top: 1px;

				background-color: lighten(@specialTshirt2, 20%);
			}

    		> a {
    			color: inherit;
    			text-decoration: none;
    		}
    	}
    }

    > #clock {
    	position: absolute;
        font-size: 1.3em;
    	right: 0.25em;
    	top: 0.25em;
    	color: @writeIt;
    }
}

/*******************************************************************************
 * Ítem genérico
 ******************************************************************************/

.item {
    position: relative;
    top: 0;
    display: inline-block;
    padding: 0.5em;
    margin: 1em;
    min-width: 20em;
    list-style: none;
    text-align: right;
    cursor: pointer;

    border-radius: 0.2em;
    border: solid @cantExpressMyself thin;
    background-color: @specialTshirt;

    box-shadow: inset 0 0 1em @writeIt,
                0 0.25em 0.25em lighten(@cantExpressMyself, 50%);

    transition: opacity ease 0.3s;

    &:active {
        top: 0.1em;
        box-shadow: inset 0 0 1em darken(@writeIt, 10%),
                    0 0.15em 0.15em lighten(@cantExpressMyself, 50%);
    }

    &.noStock {
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

    &.lowStock {
        background-color: darken(@specialTshirt2, 10%);
    }

    .code {
        font-family: @consoleFont;
        font-size: 2em;
        font-weight: bolder;
        position: absolute;
        top: 0;
        left: 0.25em;

        opacity: 0.5;
    }

    .price {
        font-weight: bolder;

        &:after {
            content: ' €';
        }
    }
}

/*******************************************************************************
 * Sección del inventario
 ******************************************************************************/

#inventarySearch {
    font-size: 1.1em;
    margin: 1em auto;
    padding: 0.25em;
    width: 90%;
    outline: none;
    font-style: italic;
    border: solid lighten(@cantExpressMyself, 30%) 2px;
}

#inventaryItemList {
    padding-left: 0;
    list-style: none;
    text-align: center;
    height: 75%;
    overflow-y: auto;
    position: relative;

}

.ui-dialog {
    max-width: 35em;
    max-height: 25em;
}

.itemEdit {
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
    max-width: 30em;

    fieldset {
        margin-top: 1.25em;
    }

    label {
        float: left;
        width: 10em;
        text-align: left;
        margin: 0 auto;

        &:after {
            content: ': ';
        }

        &[for~=price]:after {
            content: ' (€): '
        }
    }

    input {
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5em;
        width: 100% - 40em;
        max-width: 20em;
        outline: none;

        &[type^=button] {
            display: inline-block;
            width: 8.5em;
            float: right;
            margin-top: 0.75em;
            margin-right: 1em;
        }
    }
}
