/**
 * Paleta de colores: http://www.colourlovers.com/palette/359978/w_o_r_d_l_e_s_s_.
 */

@white: #FFFFFF;
@specialTshirt: #CBE86B;
@writeIt: #F2E9E1;
@cantExpressMyself: #1C140D;
@specialTshirt2: #CBE86B;

@consoleFont: Consolas, Inconsolata, Monospace;

.alibel {
    font-family: Droid Sans, Ubuntu, Tahoma, Verdana;
    background: lighten(@specialTshirt2, 20%);
    
    blockquote {
        font-family: @consoleFont;
        padding-right: 3em;
        text-align: justify;
    }

    > header {
        > h1 {
            display: none;
        }

        #alibelMainClock {
            font-size: 1.4em;
            font-weight: bolder;

            position: absolute;
            right: 0.3em;
            top: 0.3em;
            z-index: 100;
        }
    }

    &,
    > .content {
        border: none;
        padding: 0;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;

        > section {
            width: 80%;
            padding: 0 10%;
            height: 100%;
            overflow-y: auto;
        }
    }

    .mainMenu li {
        padding: 0;

        i {
            position: absolute;
            top: 0.3em;
            left: 0.3em;
            font-size: 1.25em;
        }

        a {
            font-size: 1.25em;
            padding: 0.25em 1em;
            padding-left: 2em;
            display: inline-block;
        }
    }
}

/*******************************************************************************
 * Ítem genérico
 ******************************************************************************/

.item {
    position: relative;
    top: 0;
    display: inline-block;
    padding: 0.5em;
    margin: 1em;
    min-width: 20em;
    list-style: none;
    text-align: right;
    cursor: pointer;

    border-radius: 0.2em;
    border: solid @cantExpressMyself thin;
    background-color: @specialTshirt;

    box-shadow: inset 0 0 1em @writeIt,
                0 0.25em 0.25em lighten(@cantExpressMyself, 50%);

    transition: opacity ease 0.3s;

    &:active {
        top: 0.1em;
        box-shadow: inset 0 0 1em darken(@writeIt, 10%),
                    0 0.15em 0.15em lighten(@cantExpressMyself, 50%);
    }

    &.noStock {
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

    &.lowStock {
        background-color: darken(@specialTshirt2, 10%);
    }

    .code {
        font-family: @consoleFont;
        font-size: 2em;
        font-weight: bolder;
        position: absolute;
        top: 0;
        left: 0.25em;

        opacity: 0.5;
    }

    .price {
        font-weight: bolder;

        &:after {
            content: ' €';
        }
    }
}
