#inventaryItemSearch {
    .input;
    width: 60%;
    display: inline-block;
}

#sectionInventary {
    .itemSearch {
        .fixSearchForm;
    
        .stockFilter {
            display: inline-block;
            position: relative;
            top: -0.05em;
        }
    }

    .itemList {
        .itemList;
        padding-left: 0;
        padding-top: 4em;
        list-style: none;

        .itemWrapper {
            display: inline-block;

            .item {
                .buttonItem;
                width: 20em;
                margin: 0.5em;

                &.lowStock > .name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 65%;
                    margin-left: auto;
                }
            }
        }
    }
}
